@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-color: #fee6da;
  --bg-x: #ffcdc4;
  --bg-t: #fcd6b1;
  --color-primary: #a14204;
  --border-bg: 3px solid rgb(255, 255, 255);
  --border-all: 3.5px solid var(--color-primary);
  --margin-pu: 20px;

  --h-f1: 26vh;
  --h-f2: 30vh;

  --top-f1: -9vh;
  --left-f1: -4vh;

  --top-f2: -11vh;
  --left-f2: -3vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
}
.ctnr,
.pldr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pldr {
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--bg-color);
  transition: 0.5s all;
  opacity: 1;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.pldr.rmv {
  opacity: 0 !important;
}
.pldr p {
  display: block;
  position: relative;
  height: 10px;
  width: 10px;
  background-color: var(--color-primary);
  animation: anm-pldr 1s ease-in-out infinite;
  border-radius: 5px;
  -webkit-animation: anm-pldr 1s ease-in-out infinite;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.pldr p:nth-child(2) {
  animation-delay: 0.15s;
}
.pldr p:nth-child(3) {
  animation-delay: 0.3s;
}
@keyframes anm-pldr {
  0%,
  70%,
  100% {
    height: 10px;
  }
  35% {
    height: 25px;
  }
}
.bg {
  height: 100%;
  width: 100%;
  background: var(--bg-color);
}
.pu-ctnr {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.pu-ctnr .pu {
  width: 90vw;
  max-width: 400px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 15px;
  border: var(--border-all);
  animation: anm-pop-show 0.3s ease;
  -webkit-animation: anm-pop-show 0.3s ease;
}
.pu-ctnr .pu .t {
  position: relative;
  width: 100%;
  height: 50px;
  background: var(--bg-t);
  border-bottom: var(--border-all);
}
.pu-ctnr .pu .t > div {
  position: absolute;
  right: 7.5px;
  top: 7.5px;
  height: 32px;
  width: 32px;
  background: var(--bg-x);
  border: var(--border-all);
  border-radius: 3px;
}
.pu-ctnr .pu .t > div div {
  height: 100%;
  width: 100%;
}
.pu-ctnr .pu .t > div div::after,
.pu-ctnr .pu .t > div div::before {
  position: absolute;
  content: "";
  top: 10.7px;
  left: 0.7px;
  width: 24px;
  height: 3.4px;
  background: var(--color-primary);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.pu-ctnr .pu .t > div div::after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.pu-ctnr .pu .t > div div::before {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.pu-ctnr .pu .c {
  text-align: center;
  padding: 0 20px;
  padding-bottom: var(--margin-pu);
}
.pu-ctnr .pu img {
  max-height: 180px;
  max-width: 90%;
  border-radius: 5px;
  margin-top: var(--margin-pu);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.pu-ctnr .pu p {
  margin-top: var(--margin-pu);
  font-size: 1.3em;
  font-weight: 600;
  color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pu-ctnr .pu textarea {
  background: var(--bg-color);
  margin-top: var(--margin-pu);
  height: 140px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1.1em;
  resize: none;
  font-weight: bold;
  color: #a14204;
}
.pu-ctnr .pu textarea:focus {
  outline: 3px solid var(--bg-x);
}
.pu-ctnr .pu .btn {
  margin-top: var(--margin-pu);
  width: 100%;
  text-align: center;
}
.pu-ctnr .pu .btn button {
  background: blue;
  border: none;
  padding: 2px 10px;
  min-width: 90px;
  color: var(--color-primary);
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 7px;
  border: var(--border-all);
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  background: #fcd6b1;
}
.pu-ctnr .pu .btn button:last-child {
  background: #86de8c;
}
.pu-ctnr .pu .btn button:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}
@keyframes anm-pop-show {
  0% {
    transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
.pgsl {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 50%;
  border: 6px solid;
  border-color: var(--color-primary) #0000;
  animation: s1 1s infinite linear;
  -webkit-animation: s1 1s infinite linear;
}
@keyframes s1 {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.scs-i {
  margin: 0 auto;
  position: relative;
  margin-top: var(--margin-pu);
  width: 70px;
  background-size: cover;
}
.scs-i .d {
  margin: 0 3px;
  display: inline-block;
  height: 13px;
  width: 20px;
  border-radius: 20px 20px 0 0;
  border: 5px solid var(--color-primary);
  border-bottom: 0;
}
.scs-i .d.d1 {
  left: 21px;
}
.scs-i .d.d2 {
  right: 21px;
}
.mlt {
  top: 60px;
  left: 32px;
  width: 36px;
  height: 18px;
  margin: auto;
  margin-top: 7px;
  border: 5px solid;
  border-top: 0;
  border-color: var(--color-primary);
  border-radius: 0 0 50px 50px;
}
.fl .scs-i .d.d1 {
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}
.fl .scs-i .d.d2 {
  transform: rotate(-150deg);
  -webkit-transform: rotate(-150deg);
  -moz-transform: rotate(-150deg);
  -ms-transform: rotate(-150deg);
  -o-transform: rotate(-150deg);
}
.fl .mlt {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.ads {
  position: fixed;
  z-index: 2;
  bottom: 0px;
  left: 0;
  right: 0;
}
.ads > div {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--bg-color);
  transition: 0.5s ease;
  border-top: var(--border-all);
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.ads.close > div {
  transform: translateY(50px) !important;
  -webkit-transform: translateY(50px) !important;
  -moz-transform: translateY(50px) !important;
  -ms-transform: translateY(50px) !important;
  -o-transform: translateY(50px) !important;
}
@keyframes anm-ads-in {
  from {
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
  }
  to {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
.out {
  transform: translateY(80px);
  -webkit-transform: translateY(80px);
  -moz-transform: translateY(80px);
  -ms-transform: translateY(80px);
  -o-transform: translateY(80px);
}
.ads button:nth-child(1) {
  position: absolute;
  height: 40px;
  width: 40px;
  right: 5px;
  top: -46.5px;
  border: none;
  background-color: var(--bg-x);
  border-radius: 5px;
  border-left: var(--border-all);
  border: var(--border-all);
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ads button:nth-child(1) div {
  position: relative;
  height: 30px;
  width: 30px;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.ads.close > div div {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
.ads button:nth-child(1) div::after,
.ads button:nth-child(1) div::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 20px;
  left: 7.5px;
  top: 15.5px;
  background: var(--color-primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.ads button:nth-child(1) div::after {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.ads button:nth-child(2) {
  font-weight: bold;
  font-size: 1em;
  color: var(--color-primary);
  background: white;
  padding: 4px 12px;
  border: none;
  border-radius: 3px;
  box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.ads button:nth-child(2):active {
  box-shadow: 1.5px 2px 0 rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
  -webkit-transform: scale(0.98);
  -moz-transform: scale(0.98);
  -ms-transform: scale(0.98);
  -o-transform: scale(0.98);
}
.ads p {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 0.85em;
  font-weight: bold;
  color: var(--color-primary);
  text-align: center;
  z-index: -1;
  letter-spacing: 2px;
  transition: 1s ease all;
  -webkit-transition: 1s ease all;
  -moz-transition: 1s ease all;
  -ms-transition: 1s ease all;
  -o-transition: 1s ease all;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
}
.ads.close p {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
#ccp {
  position: fixed;
  display: block;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--bg-color);
}
#ccp * {
  color: #3c3c3c;
}
.cp {
  position: relative;
  background: rgb(255, 255, 255);
  margin: 12px;
  padding: 10px;
  padding-bottom: 30px;
  border: var(--border-all);
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cp p {
  font-size: 0.8em;
  font-weight: bold;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* .pu-ctnr:nth-child(13) .pu img {
  max-height: 250px;
  max-width: 90%;
  border-radius: 5px;
  margin-top: var(--margin-pu);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
} */

.d-none {
  display: none;
}

.new-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("asset/bg.webp"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-container .f1 {
  position: absolute;
  height: calc(var(--h-f1) / 33 * 30);
}
.new-container .f2 {
  position: absolute;
  height: calc(var(--h-f2) / 33 * 30);
}

.new-container .top .f1 {
  transform: rotate(180deg) scale(1);
  top: calc(var(--top-f1) / 33 * 30);
  left: calc(var(--left-f1) / 33 * 30);

  animation: anm-start-1 1s ease-in-out, anm-f-1 2s ease-in-out 1s infinite;
}
.new-container .top .f2 {
  transform: rotate(18deg);
  top: calc(var(--top-f2) / 33 * 30);
  right: calc(var(--left-f2) / 33 * 30);
  animation: anm-start-2 1s ease-in-out, anm-f-2 2.5s ease-in-out 1s infinite;
}

.new-container .bottom .f1 {
  bottom: calc(var(--top-f1) / 33 * 30);
  right: calc(var(--left-f1) / 33 * 30);
  animation: anm-start-4 1s ease-in-out, anm-f-4 2s ease-in-out 1s infinite;
}
.new-container .bottom .f2 {
  bottom: calc(var(--top-f2) / 33 * 30);
  left: calc(var(--left-f2) / 33 * 30);
  animation: anm-start-3 1s ease-in-out, anm-f-3 2.5s ease-in-out 1s infinite;
}
@keyframes anm-start-1 {
  from {
    opacity: 0;
    transform: rotate(200deg) scale(0) translate(50px, 20px);
  }
  to {
    transform: rotate(175deg) scale(1.03) translate(0, -3px);
  }
}
@keyframes anm-f-1 {
  0%,
  100% {
    transform: rotate(175deg) scale(1.03) translate(0, -3px);
  }
  50% {
    transform: rotate(180deg) scale(1);
  }
}
@keyframes anm-start-4 {
  from {
    opacity: 0;
    transform: rotate(25deg) scale(0) translate(50px, 20px);
  }
  to {
    transform: rotate(-5deg) scale(1.03) translate(0, -3px);
  }
}
@keyframes anm-f-4 {
  0%,
  100% {
    transform: rotate(-5deg) scale(1.03) translate(0, -3px);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes anm-start-2 {
  from {
    transform: rotate(190deg) scale(0) skewX(-2deg) translateX(10px);
  }
  to {
    transform: rotate(180deg) scale(1);
  }
}
@keyframes anm-f-2 {
  0%,
  100% {
    transform: rotate(180deg) scale(1);
  }
  50% {
    transform: rotate(183deg) scale(1.02) skewX(-2deg) translateX(10px);
  }
}
@keyframes anm-start-3 {
  from {
    transform: rotate(10deg) scale(0) skewX(-2deg) translateX(10px);
  }
  to {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes anm-f-3 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: rotate(3deg) scale(1.02) skewX(-2deg) translateX(10px);
  }
}
.new-content {
  text-align: center;
  z-index: 9;
  transition: 0.5s ease all;
}
.new-content.hide {
  opacity: 0;
}
.new-content .foto {
  position: relative;
  margin: 20px auto;
  width: fit-content;
  animation: popup-show 0.4s ease 1.2s forwards;
}
.new-content .foto::before {
  content: "";
  height: 80%;
  width: 50%;
  position: absolute;
  top: 10px;
  right: -2px;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  transform: rotate(3.5deg);
  filter: blur(3px);
}
.new-content .foto .img-foto {
  height: 40vh;
  padding: 15px 10px 30px 10px;
  background: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.189);
  z-index: 99;
}
.new-content .foto .tape {
  position: absolute;
  height: 8%;
  transform: rotate(-30deg);
}
.new-content .foto .tape.tape1 {
  top: 0;
  left: -11%;
}
.new-content .foto .tape.tape2 {
  bottom: 2%;
  right: -13%;
}
.new-content .foto .flwr-foto {
  position: absolute;
  height: 35%;
  left: -15%;
  bottom: 1%;
}
/* .title {
  width: fit-content;
} */
.new-content h2 {
  font-size: 2.2rem;
  font-family: "Pacifico", sans-serif;
  color: #8b110a;
  margin-top: -15px;
  animation: fade-left 1s ease 0.8s forwards;
}
.new-content h3 {
  font-size: 1.5rem;
  color: #8b110a;
  text-align: start;
  margin-left: 1rem;
  animation: fade-right 1s ease 0.5s forwards;
}

.new-content p {
  font-size: 1.1rem;
  color: #8b110a;
  margin-top: -0.7rem;
}

.new-content .btn-start {
  padding: 7px 14px;
  background: #8b110a;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: -4px 4px 0 rgba(0, 0, 0, 0.384);
  animation: fade-up 1s ease 1.5s forwards;
}

.new-content .btn-start:active {
  box-shadow: 0 0 0;
  transform: scale(0.95);
}

.new-container h2,
.new-container h3,
.new-container .foto,
.new-container .btn-start {
  opacity: 0;
}

.new-container:not(.show) .top .f1,
.new-container:not(.show) .top .f2,
.new-container:not(.show) .bottom .f1,
.new-container:not(.show) .bottom .f2,
.new-container:not(.show) h2,
.new-container:not(.show) h3,
.new-container:not(.show) .foto,
.new-container:not(.show) .btn-start {
  opacity: 0;
  animation: none;
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes popup-show {
  0% {
    opacity: 1;
    transform: scale(0.7);
  }
  45% {
    opacity: 1;
    transform: scale(1.05);
  }
  80% {
    opacity: 1;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
