@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

:root {
  --main-color: #ff9f0d;
  --text-color: #fff;
  --other-color: #212121;
  --second-color: #9e9e9e;
  --bg-color: #fff;
  --bg-second-color: #f2faff;

  --big-font: 3.5rem;
  --h2-font: 2.5rem;
  --p-font: 1rem;
  --font-color: #0e314c;
  --p-color: #6689a7;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 20px 10%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
}

.navlist {
  display: flex;
}

.navlist li {
  display: flex;
  align-items: center;
}

.navlist a {
  color: var(--font-color);
  font-size: var(--p-font);
  font-weight: 600;
  margin: 0 30px;
  transition: all 0.5 ease;
}

.navlist a:hover {
  color: var(--main-color);
}

.navlist a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 32px;
  color: var(--font-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.nav-icon i:hover {
  transform: scale(1.1);
  color: var(--text-color);
}

section {
  padding: 70px 10% 60px;
}

.home {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-area: 2rem;
}

.home-img img {
  width: 100%;
  height: auto;
}

.home-text h1 {
  font-size: var(--big-font);
  font-weight: 700;
  line-height: 1.2;
  color: var(--font-color);
  margin-bottom: 2rem;
}

.home-text p {
  font-size: var(--p-font);
  color: var(--p-color);
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 15px 35px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.btn-border {
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid var(--main-color);
  color: var(--main-color) !important;
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
  cursor: pointer;
}

.btn-border i,
.btn i {
  font-size: 1.7rem;
  line-height: 1.1rem;
  vertical-align: middle;
  /* background: blue; */
}

.btn-border:hover {
  background: var(--main-color);
  color: var(--text-color) !important;
}

.s-btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

.middle-text {
  text-align: center;
  margin-bottom: 2rem;
}

.middle-text h2 {
  font-size: var(--h2-font);
  color: var(--font-color);
  margin-bottom: 10px;
}

.middle-text p {
  font-size: 1.1rem;
  color: var(--p-color);
}

.fitur {
  background: var(--bg-second-color);
}

.fitur-content {
  padding: 30px 0 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  /* text-align: center; */
}

.fitur-item {
  padding: 1.5rem;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.fitur-item .icon {
  height: 50px;
  width: 50px;
  text-align: center;
  background: #ffe6c1;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.fitur-item .icon i {
  font-size: 2rem;
  color: #ff9900;
}

.fitur-item h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--font-color);
  margin: 16px 0 8px;
}

.fitur-item p {
  font-size: var(--p-font);
  color: var(--p-color);
}
/* .theme {
  background: var(--bg-second-color);
} */
.theme-content {
  padding: 30px 0 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
  text-align: center;
}

.theme-item {
  padding: 1rem;
  /* background-color: var(--other-color); */
  /* border: 1px solid #ff9f0d; */

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  transition: 0.1s ease all;
}

.theme-item img {
  width: 100%;
  /* max-width: 50px; */
  border-radius: 0.5rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.theme-item .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-item h4 {
  font-size: 1.4rem;
  color: var(--font-color);
  /* margin-bottom: 1rem; */
  letter-spacing: 1px;
}

.cta {
  text-align: center;
  background: var(--bg-second-color);
  padding-bottom: 100px;
}

@media (max-width: 1545px) {
  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
    /* --p-font: 1rem; */
  }

  .btn-border {
    padding: 12px 20px;
  }

  header {
    padding: 15px 4%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 10px 4%;
    transition: 0.2s;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  section {
    padding: 50px 4% 40px;
    transition: 0.2s;
  }
  .fitur-content,
  .theme-content {
    padding: 30px 4% 50px;
  }
}

@media (max-width: 860px) {
  #menu-icon {
    display: initial;
  }

  .navlist {
    position: absolute;
    /* top: -1000px; */
    opacity: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    transition: all 2s ease;
    display: none;
    padding-bottom: 1rem;
  }

  .navlist a {
    display: block;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .navlist.open {
    top: 100%;
    opacity: 1;
    z-index: -1;
    display: flex;
  }

  .home {
    grid-template-columns: 1fr;
    min-height: 118vh;
  }

  .home-text {
    padding-top: 60px;
  }

  .home-img {
    text-align: center;
  }
  .home-img img {
    max-width: 700px;
  }
}

@media (max-width: 475px) {
  :root {
    --big-font: 2.5rem;
    --h2-font: 1.8rem;
    /* --p-font: 1rem; */
  }
  .home {
    min-height: 100vh;
    gap: 0.1rem;
  }
}

footer {
  background: var(--text-color);
  color: var(--font-color);
  padding: 20px 0;
  text-align: center;
}

.text-download {
  position: sticky;
  bottom: 0;
  text-align: center;
  font-size: 0.8rem;
  /* margin-top: 30px; */
  background: white;
  padding: 15px 0;
  color: var(--p-color);
}

.btn-download {
  display: block;
  width: fit-content;
  text-align: center;
  margin: 1rem auto;
  font-size: 0.9rem;
  padding: 10px 15px;
  border: none;
}
